
<div class="row">
    
<div class="col-sm-3">
<div class="jumbotron" style="background-color: rgba(0, 238, 255, 0.192);">

<nav class="navbar bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="readmarks">ReadMarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="readattendance">ReadAttendance</a>
      </li>
      
    </ul>
  
  </nav>
  </div>
</div>
  
    <div class="col-sm-2">

<button class="btn btn-success" data-toggle="modal" type="button" data-target="#m">StudentRegister</button>
</div>
<div class="col-sm-7">
<div class="modal" id="m">
<div class="modal-dialog">
<div class="modal-content">
<!--modal header-->
<div class="modal-header">
    <h1>WELLCOME{{this.profile.firstname}}</h1>
    <button type="button" class="close"  data-dismiss="modal">x</button>
</div>
<!--modal body-->
<div style="background-color: darkseagreen;">
<table class="table table-borderless">
    <tr>
        <td><b>Firstname</b></td>
        <td>{{this.profile.firstname}}</td>
    </tr>
    <tr>
        <td><b>Lastname</b></td>
        <td>{{this.profile.lastname}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{this.profile.m}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{this.profile.phonenumber}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{this.profile.emailid}}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{this.profile.department}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{this.profile.postaddress}}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{this.profile.yearofjoin}}</td>
    </tr>
    <tr>
        <td>SSC%</td>
        <td>{{this.profile.ssc}}</td>
    </tr>
    <tr>
        <td>INTER%</td>
        <td>{{this.profile.inter}}</td>
    </tr>
       
   
</table>
</div>
<!--modal footer-->
<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">close</button>
</div>
</div>
</div>
</div>


<router-outlet></router-outlet>
   </div>







</div>


