





    <section id="team">
        <div class="container">
            <div class="section-header">
                <h3>Team</h3>
                <p>Meet our team</p>
            </div>
          <div class="row">
              <div class="row seven-cols">
            
                <div class="col-md-2  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="member"> <img src="/assets/sravent1.jpg" height="100px" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Sravanth varma</h4> <span>Project Manager</span>
                                <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2  wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="member"> <img src="/assets/moinish.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Monish Kumar</h4> <span>CTO</span>
                                <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2  wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="member"> <img src="/assets/nagasai.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Nagasai</h4> <span>Civil HOD</span>
                                <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <div class="member"> <img src="/assets/girish.jpg" class="img-fluid" alt="">
                      <div class="member-info">
                          <div class="member-info-content">
                              <h4>Girish</h4> <span>Mech HOD</span>
                              <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="member"> <img src="/assets/ramesh.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Ramesh</h4> <span>Chief Executive Officer</span>
                            <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="member"> <img src="/assets/anjaniprasad.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ANJANIPRASAD</h4> <span>STUDENTLEDER</span>
                            <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
      
            </div>
            </div>
        </div>
      </section>




